.header-oferta {
    margin: 0;
    padding: 1rem 3rem;
    background-image: url('../images/polygon-scatter-haikei.svg');
    background-size:cover;
    color: white;
}
.container-producto-oferta {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    color: white;
}


.primer-div {
    display: flex;
    flex-direction: column;
    flex-grow:2;
}

.segundo-div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.titulo-oferta {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.titulo-producto-oferta {
    font-size: 22px;
}

.descripcion-producto-oferta {
    font-size: 16px;
    flex-wrap: wrap;
}

.img-producto-oferta {
    width: 340px;
    background-color: dimgrey;
    border-radius: 20px;
}

.precio-producto-oferta {
    font-size: 18px;
}

.btn-compra-oferta {
    font-size: 14px;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}

.btn-compra-oferta:hover {
    scale: 1.1;
}